:root{
  --mainTextColour: white;
  --specialtextColour: #4c7a34;
  --PrimaryColourLight:#0844a4;
  --PrimaryColourDark: #021f54;
  --secondryColourLight:#629c44;
  --secondryColourDark:#033076;
}

*{
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Livvic', sans-serif;
}

header{
  background-image: url("images/HeaderImage.jpg");
  background-position: center;
  font-family: 'Satisfy', cursive;
}

h1{
  text-align: center;
  padding-top: 100px;
  margin-bottom: 100px;
  border: 5px;
  font-family: 'Satisfy', cursive;

}

h1 a{
  text-decoration: none;
  color: var(--secondryColourLight);
  align-items: center;
  align-content: center;
  font-family: 'Satisfy', cursive;
  font-size: 75px;
  text-shadow: 3px 3px black;

}

nav {
  text-align: center;
}

nav li:hover{
  background-color: var(--specialtextColour);
}

a li{
  color: var(--mainTextColour);
  font-size: 30px;
}
nav li{
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 15px;
  display: inline-block;
  background-color: var(--PrimaryColourDark)
}


li a{
  color: var(--mainTextColour)
}

.Hero{
  background-image: url("images/SeaLion.jpg");
  background-size: cover;
  background-position: center;
}
.HeroButton a:hover{
  text-shadow: 5px 5px black;
}
.HeroButton{
  padding-top: 215px;
  text-align: center;
  text-decoration: none;
  color: var(--secondryColourLight);
  font-size: 80px;
  text-shadow: 3px 3px Black;
}
.HeroText{
  font-family: 'Satisfy', cursive;
  text-align: center;
  text-decoration: none;
  color: var(--secondryColourLight);
  font-size: 50px;
  text-shadow: 2px 2px Black;
  padding-bottom: 250px;
}

.IndexBody{
  padding-top: 35px;
  background-color: var(--PrimaryColourLight);
  color: var(--mainTextColour);
  padding-bottom: 190px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size:

}
img {
  padding-top: 15px;
  padding-bottom: 40px;
  margin-top: 0px;
  background-color: var(--PrimaryColourLight);
}
footer{
  text-align: center;
  background-color: var(--PrimaryColourDark);
}
footer p{
  color: var(--mainTextColour);
  padding-bottom: 15px;
  font-size: 11px;
  background-color: var(--PrimaryColourDark);
  display: inline-block;
  text-align: center;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 10px;
}

.BreakerImagePengun{
  width: 45px;
  height: auto;

}

.BreakerImageSealion{
  max-width:50%;
  height:auto;
}

.BreakerImageAlbatross{
  width: 45px;
}
